Flask
Flask-Cors
pymongo
pandas
numpy

# TO RUN
# Step 1

# Open the project in VS Code.

# Step 2

# Open Terminal.

# Step 3

# Make sure the terminal is inside your project folder (DAM Pj).

# Step 4

# Run:
# pip install -r requirements.txt
# After it finishes, run:

# python upload.py

# Then:

# python app.py  (u need to still run )
# If pip install -r requirements.txt gives an error

# They can try:

# python -m pip install -r requirements.txt

# or, on some systems:

# py -m pip install -r requirements.txt